/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media only screen and (max-width: 480px) {
    .html.light::-webkit-scrollbar {
        display: none;
    }

    .html.dark::-webkit-scrollbar {
        display: none;
    }

    .html::-webkit-scrollbar-thumb {
        display: none;
    }

    .body.light::after {
        background: url('../media/backGroundMobile.png');
        background-size: cover;
    }

    .body.dark::after {
        background: url('../media/backGroundDarkMobile.png');
        background-size: cover;
    }

    /* ======================================= */
    /* Navbar */
    .navContainer {
        width: 0;
        border: none !important;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        overflow: hidden;
    }

    .navContainer.activate {
        width: 90%;
        border-right: 10px solid var(--navSkyBlue);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .navContent {
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    /* Logo Detailes */
    .logoInfo {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .logoImg {
        width: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
    }

    .logoTitle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
        letter-spacing: 5px;
    }

    .logoTitle p {
        margin: 0;
    }

    .navMobileMenu {
        display: none;
        width: 65px;
        height: 25px;
        margin: auto 10px;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        cursor: pointer;
    }

    .navContainer.activate .navMobileMenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .navMobileMenu span {
        width: 55%;
        height: 5px;
        margin: auto;
        border-radius: 5px;
        background-color: var(--grayWhite);
    }

    /* Website Sections */
    .ulContainer ul li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        /* margin-right: 15%; */
    }

    .ulContainer ul li a .icon {
        margin: 0;
    }

    .ulContainer ul li a .fa-file-text {
        -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    .ulContainer ul li a .title {
        display: block;
    }

    /* Dark Mood Controls */
    .darkModeContainer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .darkModeContainer #light,
    .darkModeContainer #dark {
        height: 50px;
        padding: 0;
    }

    .darkMode {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .dateTime {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .dateTime .date {
        display: block;
    }

    /* ======================================= */
    /* Main Content */
    .mainContainer {
        width: 100%;
    }

    .mainContainer.activate {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        overflow-y: hidden;
    }

    /* Top Bar */
    .mainContainer .topBar {
        width: 100%;
        padding: 0 10px;
    }

    .topBar .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .topBar.activate .logo {
        visibility: hidden;
    }

    .mainContainer .topBar .logo img {
        display: block;
    }

    .mainContainer .topBar .forLightDesktop,
    .mainContainer .topBar .forDarkDesktop {
        display: none;
    }

    .topBar .forLightMobile,
    .topBar .forDarkMobile {
        display: block;
    }

    .mainContainer .topBar .forLightMobile {
        display: block;
    }

    .mainContainer.dark .topBar .forLightMobile {
        display: none;
    }

    .mainContainer .topBar .forDarkMobile {
        display: none;
    }

    .mainContainer.dark .topBar .forDarkMobile {
        display: block;
    }

    .mainContainer .topBar .logo img {
        width: 2.5em;
        height: 2.5em;
        margin: 0;
    }

    .topBar .search {
        margin: 0;
    }

    .topBar.activate .search {
        visibility: hidden;
    }

    .topBar .search input {
        width: 15em;
    }

    .menuMobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 25px;
        height: 25px;
    }

    .mainContainer .topBar .menuMobile span {
        background-color: var(--navSkyBlue);
    }

    .mainContainer.dark .topBar .menuMobile span {
        background-color: var(--grayWhite);
    }

    .topBar.activate .menuMobile {
        display: none;
    }

    /* ======================================= */
    /* Home Page */
    .homePage,
    .sectionsPage,
    .lastNewsPage,
    .contactPage {
        /* overflow: hidden; */
    }

    .homeContent {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    /* Home Info Section */
    .homeContent .homeInfo {
        width: 100%;
        height: 35%;
        top: 5%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-top: 0;
    }

    /* Logo */
    .homeInfo .homeLogoImg {
        height: 28%;
    }

    .homeInfo .homeLogoImg img {
        width: 50%;
    }

    /* Title */
    .homeInfoTitle h6 {
        font-size: 1.5em;
    }

    .homeInfoTitle p {
        font-size: 0.85em;
        text-align: center;
    }

    /* Action Call Btns */
    .homeInfo .homeBtns {
        width: 100%;
        height: 20%;
        margin-top: 5px;
    }

    .homeBtns a {
        height: 30px;
        font-size: 1em;
    }

    .mainContainer.light .homeBtns a {
        background: var(--navSkyBlue);
        border: 1px solid var(--navSkyBlue);
    }

    .mainContainer.dark .homeBtns a {
        background: -o-linear-gradient(315deg, rgba(53, 53, 53, 1) 60%, rgba(22, 22, 22, 1) 150%);
        background: linear-gradient(135deg, rgba(53, 53, 53, 1) 60%, rgba(22, 22, 22, 1) 150%);
        border: 1px solid #333;
    }

    /* Home Background Section  */
    .homeContent .homeBackDesign {
        width: 85%;
        height: 60%;
        bottom: 0;
    }

    .homeBackDesign .svgContainer {
        width: 80%;
        height: 65%;
    }

    /* ============================================== */
    /* Sections page */
    .sectionsContent {
        width: 100%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .sectionsInfo {
        height: 80px;
        margin-bottom: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .infoContent {
        height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .infoContent h3 {
        font-size: 1em;
        margin-bottom: 0;
    }

    .infoContent p {
        font-size: 0.75em;
        display: none;
    }

    .websiteControls {
        width: 75%;
        top: 25%;
    }

    .websiteControls a {
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }

    .section .shap {
        font-size: 2.5em;
        height: 25%;
    }

    .section .description {
        height: 60%;
        font-size: 1.25em;
    }

    .description .sectionTitle {
        font-size: 0.75em;
    }

    .description .sectionDescription {
        line-height: 25px;
        font-size: 0.65em;
    }

    .actionCallBtn a {
        font-size: 0.75em;
    }

    /* ============================== */
    .subjectsContainer {
        width: 97%;
    }

    .subjectsContainer .backBtn {
        transform: translateY(-10%);
    }

    .backBtn .btnShape {
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }

    .backBtn .btnTitle {
        font-size: 0.75em;
    }

    .sectionDetail .sectionImg {
        display: none;
    }

    .sectionControls a {
        width: 45px;
        height: 45px;
        border-radius: 10px;
    }

    .sectionControls p {
        width: 150px;
        font-size: 0.75em;
    }

    .subjectsContent .subjects {
        padding: 15px;
        overflow-y: scroll;
    }

    .subjectsControls .pageNum {
        width: 40px;
        height: 40px;
    }

    .subjectsControls a {
        width: 45px;
        height: 45px;
        border-radius: 10px;
    }

    /* ============================================================================= */
    /* Last News Page */
    .lastNewsContent {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .lastNewsInfo {
        width: 100%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .lastNewsContainer {
        width: 100%;
        padding: 7px;
        margin-top: 5%;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .lastNewsSection {
        width: 100%;
        height: 90%;
        margin: 0;
    }

    .lastNewsControls {
        width: 82%;
    }

    .lastNewsSecContent {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .lastNewsSecContent .subInfo {
        height: 11%;
        top: -8.5%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .lastNewsSecContent .subInfo .subImg {
        font-size: 1.5em;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .lastNewsSecContent .subInfo .subTitle {
        font-size: 1.25em;
    }

    .lastNewsSecContent .subContent {
        width: 99%;
        margin-top: 7%;
    }

    table {
        /* padding: 25px 0 0; */
    }

    table thead {
        font-size: 0.75em;
        height: 45px;
    }

    table td {
        padding: 10px;
    }

    table tbody tr {
        height: 20px;
    }

    tbody .subTitle a {
        padding: 0;
    }

    tbody .subTitle {
        font-size: 0.6em;
    }

    table .subWriter,
    table .subDate {
        font-size: 0.5em;
    }

    .subActionCall {
        width: 50%;
        height: 30px;
        left: 50%;
        bottom: 7%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    /* ============================================================================= */
    /* Quizzes Page */


    /* ============================================================================= */
    /* Contact Page */
    .contactPage {
        margin-bottom: 15%;
    }

    .contactPageInfo {
        width: 100%;
        padding-top: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .contactPage .contactContainer {
        width: 95%;
    }

    .contactContainer .contactMsg {
        width: 100%;
        left: 0;
        top: 20%;
        height: 80%;
    }

    .contactMsg .msgContent {
        width: 100%;
        justify-content: flex-end;
    }

    .msgContent h3 {
        display: none;
    }

    .msgContent .inputBox {
        margin: 10px 0;
    }

    .msgContent form textarea {
        height: 15vh;
    }

    .msgContent form textarea {
        text-align: center;
    }

    .msgContent form button[type="submit"] {
        position: relative;
        bottom: 0%;
        left: 32%;
    }

    .contactContainer .contactCard {
        width: 90%;
        top: 10px;
        right: 5%;
        height: 35%;
    }

    .websiteInfo a img {
        width: 80%;
    }

    h6 {
        font-size: 1.25em;
        margin: 15px;
    }

    /* Footer Section */
    .footer {
        width: 100%;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .footer .googleAdsense a {
        font-size: 0.8em;
        margin: 5px;
    }

    .footer p {
        text-align: center;
    }

    /* Home Contact Section */
    .homeContact {
        width: 100%;
        bottom: 5%;
        z-index: 1;
    }

    .mainContainer.light .homeSocialCards div {
        border: 1px solid var(--grayWhite);
    }

    .mainContainer.light .homeSocialCards a {
        color: var(--grayWhite);
    }

    /* Login Stylling */
    .userLoginContent {
        width: 100%;
    }

    .userLoginContent::before {
        width: 75%;
    }

    .userLoginContent form {
        width: 90%;
    }

    .userLoginContent form .formBtns {
        flex-direction: column;
        gap: 16px;
    }

    .userLoginContent form .btn {
        width: 100%;
    }
}